# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.ImageViewerTrue.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Gelya\Desktop\Not_deep_learning\Системное программирование\ImageViewerTrue\.idea\.idea.ImageViewerTrue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
